.post {
    position: relative;
    display: flex;
    align-items: center;
}

.post:not(:last-child) {
    margin-bottom: 10px;
}

.post__img {
    margin-right: 15px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.post__likes {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 32px;
}

.post__likes::before {
    content: "";
    position: absolute;
    left: 11px;
    top: -13px;
    width: 32px;
    height: 32px;
    background: url("../../../../images/like.svg") no-repeat;
}