.post {
    display: flex;
    align-items: center;
}

.post:not(:last-child) {
    margin-bottom: 10px;
}

.post__img {
    margin-right: 15px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}