.post {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #305d52;
    border-radius: 5px;
}

.post:not(:last-child) {
    margin-bottom: 10px;
}

.post__img {
    margin-right: 15px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.post__likes {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 32px;
    cursor: pointer;
}

.post__likes-images {
    content: "";
    position: absolute;
    right: -4px;
    top: -3px;
    width: 32px;
    height: 32px;
}

.post__likes-images svg {
    fill: #fff;
    transition: all 0.5s;
}

.post__likes-images svg:hover {
    fill: #ff7979;
    transition: all 0.5s;
}