@import "scss/reset";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template: "h h" 60px "n c" 1fr / 2fr 10fr;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    min-width: 320px;
    max-width: 1250px;
    color: #f0f8ff;
}